.navbar{
background-color: rgb(255 255 255);
border:  1px solid rgb(228 228 228);
}
.navbar ul{
      display: flex;
      align-items: center;
      padding: 20px 0;
}
.navbar ul li{
 display: flex;
 align-items: center;
 justify-content: center;
      padding:  0 15px;
}
.navbar ul li a{
      color: rgb(58 57 57);
}
.navbar ul li a:hover{
text-decoration: underline;
color:rgb(17 17 17) ;
}
.navbar ul li:nth-child(1){
      display: none;
}
.navbar ul li:nth-child(1) svg{
      vertical-align: middle;
}
@media screen and (max-width:768px) {
      .navbar ul li:nth-child(1){
            display: block;
      }   
}
